body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

img.main-logo {
	max-height: 97px;
}

div#service-notes {
	font-size: 12px;
}

div#error-container {
	color: red;
	display: none
}

div#error-container ul li {
	list-style-type: disc;
	margin-left: 20px;
}

.select-wrapper label.invalid {
    margin-top: 62px;
    margin-left: -11px;
    color: #F44336;
}

span.invalid {
	color: #F44336;
}